<script lang="ts">
	let user: string = '';
	let text: string = '';
	let id: string = '';
	let startPlay: boolean = false;

	let webSocketEstablished = false;
	let ws: WebSocket | null = null;
	// let log: string[] = [];

	// const logEvent = (str: string) => {
	// 	log = [...log, str];
	// };

	const establishWebSocket = () => {
		if (webSocketEstablished) return;
		const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
		ws = new WebSocket(`${protocol}//${window.location.host}/websocket`);
		ws.addEventListener('open', (event) => {
			webSocketEstablished = true;
			// logEvent('[websocket] connection open');
		});
		ws.addEventListener('close', (event) => {
			// logEvent('[websocket] connection closed');
		});
		ws.addEventListener('message', (event) => {
			console.log(`[websocket] message received: ${event.data}`);
			console.log(event.data);
			const data = JSON.parse(event.data);
			user = data.user;
			text = data.text;
			id = data.id;
			startPlay = true;
			setTimeout(() => {
				startPlay = false;
			}, 10000);
			// logEvent(`[websocket] message received: ${event.data}`);
		});
	};

	establishWebSocket();

	function sendMsg() {
		ws?.send(JSON.stringify({ msg: 'ping' }));
	}

	function animationRedo(_startPlay: boolean) {}

	$: animationRedo(startPlay);
</script>

<!-- <div>
	<button on:click={sendMsg}>Send</button>
</div> -->

<div class="wrap" class:play={startPlay}>
	<div class="img-left">
		<img class="img" src="/pochmak.png" alt="" />
	</div>
	<div class="img-right">
		<img class="img" src="/pochmak.png" alt="" />
	</div>
	<div class="textWrap">
		<div class="text">
			{text}
		</div>
	</div>
</div>

<style>
	:global(body) {
		margin: 0px;
	}
	:global(*) {
		box-sizing: border-box;
	}
	.wrap {
		width: 320px;
		height: 200px;
		display: flex;
		position: relative;
		overflow: hidden;
		opacity: 0;
	}
	.img-left {
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: 1s;
	}
	.img-right {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		transition: 1s;
	}
	.textWrap {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.text {
		transform-origin: center;
		width: calc(100% - 80px);
		height: calc(100% - 60px);
		display: flex;
		margin: 30px 40px;
		padding: 20px;
		text-align: center;
		align-items: center;
		justify-content: center;
		opacity: 0;
		border: 1px solid black;
		background-color: rgb(207, 185, 145);
	}
	.img {
		width: 320px;
		height: 200px;
	}
	.img-right .img {
		transform: translate(-160px, 0px);
	}
	.play {
		animation: showDiv 2s linear 0s 1 forwards;
	}
	.play .img-left {
		animation: moveLeft 1.8s ease-in 0.2s 1 forwards;
	}
	.play .img-right {
		animation: moveRight 1.8s ease-in 0.2s 1 forwards;
	}
	.play .text {
		animation: showText 0.8s linear 1s 1 forwards;
	}
	@keyframes showDiv {
		0% {
			opacity: 0;
		}
		10% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes moveLeft {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(-160px, 0);
		}
	}
	@keyframes moveRight {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(160px, 0);
		}
	}
	@keyframes showText {
		0% {
			transform: scale(0, 0);
			opacity: 0;
		}
		10% {
			transform: scale(0.2, 0.2);
			opacity: 1;
		}
		50% {
			transform: scale(0.2, 0.8);
			opacity: 1;
		}
		80% {
			transform: scale(0.2, 0.8);
			opacity: 1;
		}
		90% {
			transform: scale(0.8, 0.8);
			opacity: 1;
		}
		100% {
			transform: scale(1, 1);
			opacity: 1;
		}
	}
</style>
